@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4="),
    auto;
}

.main-container {
  width: 100vw;
  height: 100vh;
}
